.comprando-botao {
  width: 20.895em;
  height: 2.204em;
  background-color: var(--green-light);
  color: var(--white);
  font-family: var(--ion-font-family);
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
  font-weight: 900;

}
