.button {
  width: 20.895em;
  height: 2.204em;
  color: var(--white);
  font-family: var(--ion-font-family);
  font-size: 25px;
  text-align: center;
  border: 3px solid var(--white);
  border-radius: 3px;
  background-color: transparent;
}
