<div class="cartao-xl-carregando">
  <div class="fundo"></div>
  <div class="item">
    <div class="text-line"
      style="min-height: 8.25em;max-height: 14.750em;max-width: 13.250em; margin: 0px auto;margin-top: 2.105em;"></div>
    <div class="text-line" style="width: 50%;height: 23px;margin-top: 1.105em;"></div>
    <div class="text-line" style="width: 80%;height: 1.750em; margin-top: 0.5em;"></div>
    <div class="text-line" style="width: 100%;height: 1.250em;margin-top: 0.5em;"></div>
  </div>
</div>