.cartao-xl {
  position: relative;

  .fundo {
    background-color: var(--white);
    padding: 0px 19px 19px 19px;
    height: 19.579em;
    width: 24.632em;
    text-align: center;
    border-radius: 5px;
    opacity: 0.8;
    border: 1px solid var(--white-gray-light);

    @media only screen and (max-width: 881px) {
      height: 21.579em;
    }

  }

  .item {
    background-color: transparent;
    padding: 0px 19px 19px 19px;
    height: 18.579em;
    width: 24.632em;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 0px;

    .titulo {
      color: var(--gray-dark);
      font-family: var(--ion-font-family);
      font-size: 1.1em;
      margin-top: 5px;
      font-weight: 500;
      text-align: left;
      line-height: 80%;

      @media only screen and (max-width: 881px) {
        line-height: 21px;
      }
    }

    .descricao {
      color: var(--gray-dark);
      font-family: var(--ion-font-family);
      font-size: 0.8em;
      text-align: left;
    }

    .pizza {

      .dois-sabores {

        img {
          width: 11.421em;
          position: absolute;
        }

        img:nth-child(1) {
          clip-path: inset(0% 51% 0% 0%);
        }

        img:nth-child(2) {
          transform: scale(-1, 1);
          clip-path: inset(0% 51% 0% 0%);
        }
      }

      .tres-sabores {

        img {
          width: 11.421em;
          position: absolute;
          clip-path: polygon(50% 51%, 0% 92%, 100% 100%, 180% 100%);
        }

        img:nth-child(1) {
          transform: rotate(129deg);
        }

        img:nth-child(2) {
          transform: rotate(249deg);
        }

        img:nth-child(3) {
          transform: rotate(9deg);
        }
      }

      .quatro-sabores {

        img {
          width: 11.421em;
          position: absolute;
        }

        img:nth-child(1) {
          clip-path: inset(0% 51% 51% 0%);
        }

        img:nth-child(2) {
          transform: scale(-1, 1);
          clip-path: inset(0% 51% 51% 0%);
        }

        img:nth-child(3) {
          transform: scale(-1, 1);
          clip-path: inset(51% 51% 0% 0%);
        }

        img:nth-child(4) {
          clip-path: inset(51% 51% 0% 0%);
        }
      }

    }
  }

  .p-t-45-perc {
    padding-top: 45%;
  }

  .p-r-50-perc {
    padding-right: 50%;
  }
}
