.pedido-preparo {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 5px;
  height: 2.5em;
  width: 12.8em;
  font-family: var(ion-font-family);
  outline: none;
  background-image: url("../../../assets/icon/cooking.svg");
  background-repeat: no-repeat;
  background-size: 23px;
  background-position-x: 8px;
  background-position-y: 4px;

  .titulo {
    margin-left: 28px;
    font-size: 0.8em;
  }

  .descricao {
    margin-right: 18px;
    font-size: 1em;
  }
}
