.menu-grupo {
  width: 7.526em;
  position: fixed;
  right: 0px;
  text-align: center;
  bottom: 0;
  height: 86%;
  z-index: 2;

  .corpo-menu-componente {
    background: var(--white);
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.16);
  }

  h2 {
    color: var(--orange-primary);
    font-size: 0.947em;
    padding-top: 9px;
    margin-top: 0px;
  }

  .grupos {
    list-style: none;
    padding: 0px;
    height: calc(81vh);
    overflow-y: auto;
    margin-top: 5px;
    direction: rtl;

    li {
      list-style: none;
      font-size: 0.526em;
      font-weight: bold;
      color: var(--gray-light);
      margin: 0px 0px 18px;
      cursor: pointer;

      img {
        width: 75px;

        @media only screen and (min-width: 1365px) {
          width: 85px;
        }
      }

      &.active {
        box-shadow: inset 0px 0px 0px 0px var(--orange-primary), inset -6px 0px 0px 0px var(--orange-primary);
        transition: box-shadow 0.3s ease-in-out;
      }
    }

    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      --webkit-box-shadow: inset 0 0 6px var(--webkit-scrollbar-track-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-background-color);
      border-radius: 0;
      outline: 1px solid var(--slategray);
    }

    @media screen and (min-height: 1024px) {
      height: calc(85.6vh);
    }

    @media only screen and (max-width: 64em) {
      height: calc(83vh);
    }
  }

  @media only screen and (min-width: 1365px) {
    height: 84%;
  }

  @media only screen and (max-width: 64em) {
    height: 88%;
  }
}
