<div class="menu-grupo-carregando">
  <div class="corpo-menu-componente">
    <h2>Menu</h2>
    <ul class="grupos">
      <li>
        <div class="text-line" style="width:4.688em;height:4.000em;margin: 0 auto;"></div>
        <div class="text-line" style="width:5.813em;height:0.500em;margin: 0 auto;margin-top: 5px;"></div>
      </li>
      <li>
        <div class="text-line" style="width:4.688em;height:4.000em;margin: 0 auto;"></div>
        <div class="text-line" style="width:5.813em;height:0.500em;margin: 0 auto;margin-top: 5px;"></div>
      </li>
      <li>
        <div class="text-line" style="width:4.688em;height:4.000em;margin: 0 auto;"></div>
        <div class="text-line" style="width:5.813em;height:0.500em;margin: 0 auto;margin-top: 5px;"></div>
      </li>
    </ul>
  </div>
</div>